body {
  margin: 0;
  padding: 0;
 
 }
 
 
 .footer {
  background-color: rgba(12, 122, 150, 0.432);
  position: fixed;
  height:4%;
  width: 100%;
  bottom: 0;
  color:rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  text-align: center;
  
 }
 