*{
    padding: 0px;
    margin: 0px;
    
}

.header{
    width: 15%;
    height: 100%;
    background-color: rgba(12, 122, 150, 0.432); 
    margin-top: 0%;
    align-items: center;
    color: white;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1%;
}
.header h1{
    color: rgb(160, 20, 20);
    margin-left: 2%;
    margin-top: 2%;
}

.logo{
    color: whitesmoke;  
    flex-grow: 1;
   
}

.bars{
    padding-right: 50px;
    padding: 10px;
    width:5%;
    height: 1%;
    position: absolute;
    display: grid;
}

.bars a{

    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    font-size: 25px;
}

.bars a:hover{
  
    
    color: rgb(0, 0, 0);
}